@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>COMPUGRAF: API Contatos</h1>
    <p>
        <img src='@Url.Content("~/Content/Images/compugraf.png")' width="200px" />
    </p>

    <p class="lead">Teste e aplicação para Vaga DEV .NET.</p>


    <div class="container">
        <img src='@Url.Content("~/Content/Images/fundo.png")' width="100%" />
    </div>
</div>